.layout {
    background-color: #202225;
}

.welcome {
    background-color: #2f3136;
    top: 0;
    position: absolute;
    width: 100%;
}

.info-title,
.info-subtitle {
    text-align: center;
    color: white;
}

.panel {
    background-color: rgb(53, 56, 60);
    margin-top: 2em;
    color: white;
    border-radius: 5px;
}

.panel-header {
    top: 0;
    margin-bottom: 5px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #268bd2;
    padding-left: 15px;
    padding-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.panel-content {
    padding: 5px 5px 5px 5px;
}

button,
.button {
    background-color: #3ca374;
    border: 0;
    min-width: 60px;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    position: relative;
    padding: 2px 30px;
}

input,
.input {
    border: 1px solid #268bd2;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(53, 56, 60);
    padding: 0 0 0 5px;
    font-size: 18px;
    display: flex;
    box-sizing: border-box;
}