.layout-background {
    background-color: #202225;
}

.welcome {
    background-color: #2f3136;
    top: 0;
    position: absolute;
    width: 100%;
}

.welcome-title {
    text-align: center;
    color: white;
}