.studio-body {
    overflow: hidden;
}

.studio-navbar {
    top: 50px;
}

.studio-center-navbar {
    padding-top: 15px;
}

.studio-right-navbar {
    padding-right: 15px;
}

.studio-branch-list {
    min-width: 250px;
}

.studio {
    position: absolute;
    top: 100px;
    background: lightgray;
    width: 100%;
    margin-left: 0;
}

.studio-explorer,
.studio-editor {
    height: 100%;
}

.studio-explorer {
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid gray;
    max-height: 300px;
    margin-bottom: 10px;
    overflow: scroll;
}

.studio-editor {
    width: 75%;
}

.studio-explorer-li,
.studio-explorer-button {
    width: 100%;
    background-color: #E94B3C;
    border: 0;
    list-style: none;
}

.studio-explorer-li {
    margin-bottom: 5px;
    color: white;
    font-family: monospace;
    font-weight: 700;
    padding: 2px 2px 2px 2px;
}